<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.pracownik" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Pracownik" >
        <activity android:name=".PanelActivity2" >
        </activity>
        <activity android:name=".ZobaczSprawozdania"  android:label="Zobacz sprawozdania"  />
        <activity android:name=".SprawozdanieActivity"  android:label="Sprawozdanie"  />
        <activity android:name=".ZobaczMojeZadaniaList"  android:label="Moje zadania"  />
        <activity android:name=".ZobaczZadania"  android:label="Zobacz zadania"  />
        <activity android:name=".DodajZadanie"  android:label="Dodaj zadanie"  />
        <activity android:name=".NotatkiList"  android:label="Ogłoszenia"  />
        <activity android:name=".Notatka"   android:label="Ogłoszenia - dodaj" />
        <activity
            android:name=".Userlist"
            android:label="Lista praowników" />
        <activity android:name=".Login"
            android:label="Logowanie" />
        <activity android:name=".MainActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>